# Python
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
dist/
build/
.eggs/
*.manifest
*.spec

# Jupyter Notebooks
.ipynb_checkpoints

# Virtual environments
.venv/
venv/
ENV/
env/

# VS Code
.vscode/
